.footer {
    text-align: center;
    position: relative;
    top: 35px;
}

.fakebook-footer {
    width: 1000px;
    color:  #737373;
    height: 100%;
    margin: 0 auto;
    text-align: left;
    font-family: sans-serif;
    font-size: 12px;
}