@import url('https://fonts.googleapis.com/css?family=Titillium+Web');

.navbar {
  height: 60px;
  width: 100%;
  background-color: #3b5998;
  background-image: linear-gradient(#4e69a2, #3b5998 50%);
  border-bottom: 1px solid #133783;
  color: white;
  margin: 0 auto;
  margin: -26px;
  padding: 20px 20px 20px 20px;
  position: relative;
}

.logo-and-login {
  margin: 0 auto;
  width: 980px;
}

.fakebook-logo {
  font-weight: bold;
  font-family: 'Titillium Web', sans-serif;
  float: left;
  font-size: 21px;
  text-emphasis-color: white;
  margin-top: -20px;
  height: 55px;
  display: block;
}

.login-form {
  font-family: sans-serif;
  font-size: 12px;
  float: right;
  display: flex;
  height: 70px;
  margin-top: 20px;
}

.login-email {
  margin-right: 15px;
  font-family: sans-serif;
  display: block;
}

.login-password {
  margin-right: 15px;
  font-family: sans-serif;
  display: block;
}

.login-input {
  margin-top: 5px;
  border: 1px solid #2a3586;
  height: 19px;
  width: 143px;
}

.login-button {
  color: white;
  font-size: 12px;
  background-color: #4267b2;
  border-color: #29487d;
  height: 20px;
  margin-top: 20px;
  display: block;
  position: relative;
}

.login-button:hover {
  background-color: #495d9e;
}

.demo-link-1 {
  flex: right;
  display: block;
  justify-content: right;
  position: absolute;
  margin-top: 64px;
  margin-left: 768px;
  font-family: sans-serif;
  text-decoration: none;
  font-size: 12px;
  color: #a0b4d5;
}