@import url('https://fonts.googleapis.com/css?family=Titillium+Web');

.signup-body-text {
  margin: 0;
  font-weight: bold;
  font-family: 'Titillium Web', sans-serif;
  float: left;
  text-emphasis-color: white;
  width: 50%;
}

.signup {
  float: right;
  width: 50%;
  font-family: sans-serif;
}