@import url('https://fonts.googleapis.com/css?family=Titillium+Web');

.signup-body {
  background-color: #eef0f5;
  height: 100%
}

.signup-body-text {
  margin: 0;
  font-weight: bold;
  font-family: 'Titillium Web', sans-serif;
  float: left;
  text-emphasis-color: white;
  width: 50%;
}

