@import url('https://fonts.googleapis.com/css?family=Titillium+Web');

.navbar {
  height: 90px;
  width: 100%;
  border-bottom: 2px solid black;
  background-color: blue;
}

.fakebook-logo {
  margin: 0;
  font-weight: bold;
  font-family: 'Titillium Web', sans-serif;
  float: left;
  display: block;
  text-emphasis-color: white;
}

.login {
  float: right;
  display: block;
}