/* everything involving comments */

.comments-all-components {
    position: relative;
    top: 50px;
}

/* container surrounding each comment */

.comment-container {}

/* individual comment */

.comment {}

.comment-image-container {
    width: 30px;
    height: 30px;
    position: absolute;
    overflow: hidden;
    border-radius: 50%;
    left: 2%;
}

.comment-image {
    height: 40px;
    width: auto;
    position: absolute;
    margin: auto; 
    min-height: 100%;
    min-width: 100%;
    left: -100%;
    right: -100%;
    top: -100%;
    bottom: -100%;
}

.comment-form {
    position: relative;
    left: 10%;
}

.comment-form > textarea {
    resize: none;
    width: 85%;
}

.comment-form-container {
    padding-top: 9px;
}

.comment-body {
    width: 85%;
    left: 10%;
    top: 5px;
    position: relative;
}

.comment-author {
    color: #465ca0;
    text-decoration: none;
    font-weight: bold;
}

.comment-body {
    color: #1c1e21;
    font-size: 13.5px;
}

.time-comment {
    color: #616671;
    font-size: 12px;
    margin-top: -10px;
}