.full-feed {
    color: #1d2129;
    font-family: sans-serif;
    width: 1020px;
    position: absolute;
    display: flex;
    background: #e9ebee;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
}

.feed-links {
    width: 170px;
    height: 250px;
    display: block;
    margin: 10px;
    padding-left: 10px;
    position: relative;
    top: 20px;
    font-size: 13px;
}


.feed {
    width: 500px;
    position: relative;
    top: 25px;
}

.feed-link {
    display: inline;
    text-decoration: none;
    font-family: sans-serif;
    z-index: 2;
    color: #1d2129;
    padding: 13px;
    font-size: 14px; 
}


.feed-profile-pic {
    height: 20px;
    width: auto;
    position: absolute;
    margin: auto; 
    min-height: 100%;
    min-width: 100%;
    left: -100%;
    right: -100%;
    top: -100%;
    bottom: -100%;
}

.feed-pic-container {
    width: 20px;
    height: 20px;
    position: absolute;
    overflow: hidden;
    border-radius: 50%;
    margin-top: -20px;
}

ul {
    list-style-type: none;
}

li > a {
    color: #1d2129;
    text-decoration: none
}

.email-icon, .portfolio-icon, .linkedin-icon, .github-icon {
    height: 15px;
    margin-left: -10px;
}

.angellist-icon {
    height: 18px;
    margin-left: -10px;
}

.feeder {
    padding: 8px;
    position: relative;
    top: -2px;
}

.feeder-angellist {
    padding: 6px;
    position: relative;
    top: -3px;
}

.feed-links > p {
    padding: 8px;
}

.feed-info {
    width: 270px;
    height: 450px;
    border: #dddfe2 1px solid;
    background: #fff;
    margin: 12px;
    position: relative;
    top: 12px;
    padding-left: 20px;
    padding-right: 20px;
}

.feed-info > h4 {
    color: #61676f;
    font-size: 14px;
}

.feed-info > p {
    color: #8d949e;
    font-size: 13px;
}

.github-link {
    color: #3d5c94;
    text-decoration: none;
}

.below-feed-info {
    position: relative;
    top: 8px;
    color: #61676f;
    font-size: 12px;
    margin-left: -5px;
}