@import url('https://fonts.googleapis.com/css?family=Titillium+Web');

.logged-in-navbar {
    height: 44px;
    background-color: #4267b2;
    border-bottom: 1px solid #29487d;
    color: #fff;
    margin: -10px;
}

.logged-in-container {
    height: 30px;
    width: 1100px;
    margin: 0 auto;
    padding-top: 10px;
}

.fakebook-f {
    display: inline;
    font-family: 'Titillium Web', sans-serif;
    background: white;
    border-radius: 1px; 
    color: #4267b2;
    padding: 0px 15px;
}

.search-bar {
    display: inline;
    background: white;
}

.navbar-right {
    float: right;
}