@import url('https://fonts.googleapis.com/css?family=Titillium+Web');

.logged-in-navbar {
    height: 44px;
    background-color: #4267b2;
    border-bottom: 1px solid #29487d;
    color: #fff;
    margin: -10px;
    z-index: 2;
    position: relative;
}

.facebook-f {
    height: 34px;
    width: auto;
    border: #4267b2 1px solid;
    border-radius: 5px;
}

.logged-in-container {
    height: 30px;
    width: 1000px;
    margin: 0 auto;
    padding-top: 10px;
}

.navbar-left {
    margin-top: -4px;
    width: 650px;
    display: inline-block;
}


.search-bar {
    display: inline;
    background: white;
    padding-right: 30px;
    margin-left: 10px;
    border: 1px solid grey;
}

.navbar-right {
    float: right;
    position: relative;
    top: 3px;
}

.navbar-link {
    display: inline;
    text-decoration: none;
    font-family: sans-serif;
    z-index: 2;
    color: #fbfcfd;
    padding: 13px;
    font-size: 13px; 
}

.navbar-profile-pic {
    height: 20px;
    width: auto;
    position: absolute;
    margin: auto; 
    min-height: 100%;
    min-width: 100%;
    left: -100%;
    right: -100%;
    top: -100%;
    bottom: -100%;
}

.navbar-pic-container {
    width: 20px;
    height: 20px;
    position: absolute;
    overflow: hidden;
    border-radius: 50%;
    margin-top: 0px;
}

.navbar-pic-container-main {
    width: 20px;
    height: 20px;
    position: absolute;
    overflow: hidden;
    border-radius: 50%;
    margin-top: 0px;
    top: -1px;
}

.search-results {
    z-index: 1000;
    position: relative;
    top: -12px;
    background: #fff;
    width: 433px;
    padding: 5px;
    border-right: 1px #d9d9d9 solid;
    border-left: 1px #d9d9d9 solid;
}

.search-results:first-of-type {
    border-top: 1px solid #d9d9d9;
    border-radius: 1px;
}

.search-results:last-of-type {
    border-bottom: 1px solid #d9d9d9;
    border-radius: 5px;
}

.search-bar {
    position: relative;
    top: -47px;
    left: 36px;
    border: 0;
    background-color: #4267b2;
}

.search-bar > input {
    width: 390px;
    height: 22px;
    border-radius: 5px;
    padding-left: 8px;
    font-size: 12px;
}

.search-name {
    position: relative;
    left: 35px;
}

.search-name > a {
    color:#31343a;
    font-size: 14px;
    text-decoration: none;
}

.search-name, .search-bar > input {
    font-family: sans-serif;
}

.navbar-results {
    position: relative;
    top: -50px;
    left: 10px;
    width: 390px;
}

.search-icon {
    width: 20px;
    position: relative;
    top: 10px;
    left: -4px;
    background-color: #f5f6f7;
    padding: 2px 14px;
    padding-top: 3px;
    border: 1px solid #d9d9d9;
    border-top: 2px solid #9a9a9a;
    border-right: 1px solid #9a9a9a;
    border-radius: 2px;
}

.search-icon:hover {
    background-color: #407ef6;
}