.profile-background {
    background: #e9ebee;
    height: 100%;
    width: 100%;
    margin-top: 10px;
    padding-right: 15px;
    margin-left: -7px;
    padding-bottom: 40px;
}

.full-profile {
    width: 851px;
    margin: 0 auto;
}

.profile-name {
    color: #fff;
    text-rendering: optimizelegibility;
    text-shadow: 0 0 3px rgba(0, 0, 0, .8);
    font-family: sans-serif;
    z-index: 2;
    position: absolute;
    top: 291px;
    margin-left: 215px;
}

.banner-pic-container {
    position: absolute;
    clip: rect(0, 851px, 310px, 0);
  }

.banner-pic {
    width: 851px;
    height: auto;
}

.profile-pic-container {
    width: 160px;
    height: 160px;
    position: relative;
    overflow: hidden;
    padding: 5px;
    background: #ffffff;
    border: 6px solid #ffffff;
    outline: 1px solid #dddfe2;
    top: 160px;
    margin-left: 15px;
    z-index: 2;
}

.profile-pic {
    height: 160px;
    position: absolute;
    margin: auto; 
    min-height: 100%;
    min-width: 100%;
    left: -100%;
    right: -100%;
    top: -100%;
    bottom: -100%;
}

.profile-link-container {
    position: absolute;
    top: 353px;
    height: 43px;
    width: 851px;
    background: #ffffff;
    border: 1px solid #dddfe2;
    border-radius: 2px;
    margin-bottom: 10px;
}

.profile-links {
    margin-left: 230px;
    margin-top: 11px;
}

.profile-link {
    padding: 11px;
    color: #355a99;
    text-decoration: none;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 14px;
}

.profile-links > div {
    display: inline;
}

.info-box {
    position: absolute;
    top: 410px;
    font-family: sans-serif;
    background: #ffffff;
    width: 321px;
    border: 1px solid #dddfe2;
    border-radius: 2px;
    color: #1d2129;
    font-size: 19px;
    font-weight: normal;
}

.info-box > h5 {
    font-size: 16px;
    font-weight: normal;
    margin-bottom: -20px;
    padding-left: 30px;
}

.bio {
    text-align: center;
    font-weight: normal;
    border-bottom: 1px #ebedf0 solid;
}

.bio > h6 {
    margin-bottom: 15px;
    font-weight: normal;
    color: #1d2129;
}

.misc-info {
    margin-top: -9px;
}

.misc-info > h6 {
    font-weight: normal;
    color: #1d2129;
    line-height: 0px;
    padding-left: 30px;
}

.friend-box {
    background: #ffffff;
    width: 321px;
}

.friend-avatar-image {
    height: 80px;
    position: absolute;
    margin: auto; 
    min-height: 100%;
    min-width: 100%;
    left: -100%;
    right: -100%;
    top: -100%;
    bottom: -100%;
}

.friend-avatar-container {
    width: 99px;
    height: 99px;
    position: relative;
    overflow: hidden;
    display: inline-block;
    margin-top: 6px;
    padding: 1px;
    margin-left: 4px;
}

.friend-avatar-name {
    position: absolute;
    z-index: 2;
    display: inline-block;
    align-self: flex-end;
    bottom: -28px;
    left: 1px;
    color: #fff;
    font-size: 12px;
    padding: 5px;
    font-family: sans-serif;
    font-weight: normal;
    text-shadow: .5px .5px #1d2129;
}

.friend-box {
    display: flex;
    flex-wrap: wrap;
}

.friend-header {
    position: absolute;
    top: 620px;
    background: #ffffff;
    border: 1px solid #dddfe2;
    border-radius: 2px;
    padding-bottom: 10px;

}
    
.friend-header-text {
    position: relative;
    top: 2px;
    left: 25px;
    font-size: 14px;
    font-family: sans-serif;
    color: #90949b;
}

.friend-header-text > b {
    font-weight: normal;
    color: #1e2128;
}

.friendship {
    position: relative;
    z-index: 1;
    float: right;
    top: 90px;
    margin-right: 250px;
    padding: 0px 10px;
    font-size: 12px;
    font-weight: bold;
    background-clip: padding-box;
    border-color: rgba(0, 0, 0, .4);
    background-color: #f5f6f7;
    color: #4b4f56;
    font-family: sans-serif;
    height: 25px;
    width: 95px;
    border-radius: 0;
    cursor: pointer;
}
